#################################################################
#								#
#   	              ASUS USERD RC				#
#								#
#################################################################

#################################
#
#   	booting on trigger
#
# ****DO NOT insert any services***     
#
#################################
# for ssn/sp tool
on firmware_mounts_complete
    start sp
    start ssn

on boot
    chmod 0444 /proc/cmdline

on init
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin:/bin

# mount asus partition
    mkdir /factory 0775 system system
    mkdir /asusfw 0775 system system
    mkdir /ADF 0775 system system
    mkdir /APD 0775 system system

on fs
    wait /dev/block/bootdevice/by-name/asdf
    exec /system/bin/e2fsck -p /dev/block/bootdevice/by-name/asdf
    mkdir /asdf
    mount ext4 /dev/block/bootdevice/by-name/asdf /asdf nosuid nodev noatime barrier=1
    chmod 0777 /asdf
    restorecon_recursive /asdf

    mkdir /dev/validity 0760 system root
    chown system root /dev/vfsspi
    chown system root /dev/fingerprint
    chown system root /dev/goodix_fp
    chmod 0760 /dev/vfsspi
    chmod 0760 /dev/fingerprint
    chmod 0760 /dev/goodix_fp

    mkdir /persdata 0750 system system
    mkdir /persdata/absolute 0750 system system
    wait /dev/block/mmcblk0p61
    check_fs /dev/block/mmcblk0p61 ext4
    mount ext4 /dev/block/mmcblk0p61 /persdata/absolute nosuid nodev noatime barrier=1
    restorecon_recursive /persdata/absolute

    # +++ ASUS_BSP : add for write os info 
    chmod 0775 /dev/block/mmcblk0p23
    chown system system /dev/block/mmcblk0p23
    # --- ASUS_BSP : add for write os info 	

on post-fs
    # Vibrator
    chown system system /sys/class/timed_output/vibrator/vmax_level
    chown system system /sys/class/timed_output/vibrator/vtg_level
    chown system system /sys/class/timed_output/vibrator/vtg_default
    chown system system /sys/class/timed_output/vibrator/vtg_max
    chown system system /sys/class/timed_output/vibrator/vtg_min

    write /sys/devices/soc/78b7000.i2c/i2c-3/3-0038/Enable_Proximity_Check 0
    
    start fpseek

on post-fs-data

# mount factory
    wait /dev/block/bootdevice/by-name/factory
    exec /system/bin/e2fsck -p /dev/block/bootdevice/by-name/factory
    mount ext4 /dev/block/bootdevice/by-name/factory /factory ro nosuid nodev noatime  barrier=1 noauto_da_alloc
    restorecon_recursive /factory
    chmod 0775 /factory
    chown root shell /factory

# mount asusfw
    wait /dev/block/bootdevice/by-name/asusfw
    exec /system/bin/e2fsck -p /dev/block/bootdevice/by-name/asusfw
    mount ext4 /dev/block/bootdevice/by-name/asusfw /asusfw nosuid nodev noatime  barrier=1 noauto_da_alloc
    restorecon_recursive /asusfw
    chmod 0775 /asusfw
    chown system system /asusfw

    mkdir /data/vendor/time 0700 system system

# mount ADF
    wait /dev/block/bootdevice/by-name/ADF
    exec /system/bin/e2fsck -p /dev/block/bootdevice/by-name/ADF
    mount ext4 /dev/block/bootdevice/by-name/ADF /ADF nosuid nodev noatime barrier=1
    chmod 0775 /ADF
    chmod 0775 /ADF/boot
    chown system system /ADF
    restorecon_recursive /ADF

#mount APD
    wait /dev/block/bootdevice/by-name/APD
    exec /system/bin/e2fsck -p /dev/block/bootdevice/by-name/APD
    mount ext4 /dev/block/bootdevice/by-name/APD /APD nosuid nodev noatime barrier=1
    chmod 0775 /APD
    chown system system /APD
    restorecon_recursive /APD

    mkdir /data/validity
    chown system system /data/validity
    chmod 0775 /data/validity

    symlink /sys/bus/mmc/devices/mmc0:0001/emmc_total_size /data/data/emmc_total_size
    chmod 0666 /data/data/emmc_total_size

    chmod 0664 /sys/class/leds/red/brightness
    chmod 0664 /sys/class/leds/green/brightness
    chown system system /sys/class/leds/red/pwm_us
    chmod 0664 /sys/class/leds/red/pwm_us
    chown system system /sys/class/leds/green/pwm_us
    chmod 0664 /sys/class/leds/green/pwm_us

    chmod 0666 /sys/class/leds/lcd-backlight/brightness
    symlink /sys/class/leds/lcd-backlight/brightness /data/data/BLTest
    chmod 777 /data/data/BLTest

    chown root camera /proc/driver/asusRgbDebug
    chown root root /proc/driver/asusRgbCalibEnable
    chown root camera /dev/asusRgbSensor
    chmod 0660 /dev/asusRgbSensor

    start asusGaugeInit

	chown system shell /proc/driver/LaserFocus_on
	chown media shell /proc/driver/LaserFocus_value
	chown system shell /proc/driver/LaserFocus_value_more_info
	chown system shell /proc/driver/LaserFocus_Status
	chown media shell /proc/driver/LaserFocus_Status_For_Camera
	chown system shell /proc/driver/LaserFocus_debug_dump
	chmod system shell /proc/driver/LaserFocus_register_dump
	chown media shell /proc/driver/LaserFocus_setK
	chown media shell /proc/driver/LaserFocus_ProductFamily
	chown system shell /proc/driver/LaserFocus_CSCmode

	rm /data/data/LaserFocus_on
	rm /data/data/LaserFocus_value
	rm /data/data/LaserFocus_value_more_info
	rm /data/data/LaserFocus_Status
	rm /data/data/LaserFocus_Status_For_Camera
	rm /data/data/LaserFocus_debug_dump
	rm /data/data/LaserFocus_register_dump

	symlink /system/bin/LaserFocus_on /data/data/LaserFocus_on
	symlink /proc/driver/LaserFocus_value /data/data/LaserFocus_value
	symlink /proc/driver/LaserFocus_value_more_info /data/data/LaserFocus_value_more_info
	symlink /proc/driver/LaserFocus_Status /data/data/LaserFocus_Status
	symlink /proc/driver/LaserFocus_Status_For_Camera /data/data/LaserFocus_Status_For_Camera
	symlink /proc/driver/LaserFocus_debug_dump /data/data/LaserFocus_debug_dump
	symlink /proc/driver/LaserFocus_register_dump /data/data/LaserFocus_register_dump

	rm /data/data/VStab_176x144_30_0.conf
	rm /data/data/VStab_176x144_30_1.conf
	
	rm /data/data/VStab_320x240_30_0.conf
	rm /data/data/VStab_320x240_30_1.conf
	
	rm /data/data/VStab_352x288_30_0.conf
	rm /data/data/VStab_352x288_30_1.conf
	
	rm /data/data/VStab_640x480_30_0.conf
	rm /data/data/VStab_640x480_30_1.conf
	
	rm /data/data/VStab_720x480_30_0.conf
	rm /data/data/VStab_720x480_30_1.conf
	
	rm /data/data/VStab_1280x720_30_0.conf
	rm /data/data/VStab_1280x720_30_1.conf
	
	rm /data/data/VStab_1920x1080_30_0.conf
	rm /data/data/VStab_1920x1080_30_1.conf
	
    symlink /system/vendor/etc/camera/Invensense/VStab_176x144_30_0.conf	/data/data/VStab_176x144_30_0.conf
    symlink /system/vendor/etc/camera/Invensense/VStab_176x144_30_1.conf	/data/data/VStab_176x144_30_1.conf
    symlink /system/vendor/etc/camera/Invensense/VStab_320x240_30_0.conf	/data/data/VStab_320x240_30_0.conf
    symlink /system/vendor/etc/camera/Invensense/VStab_320x240_30_1.conf	/data/data/VStab_320x240_30_1.conf
    symlink /system/vendor/etc/camera/Invensense/VStab_352x288_30_0.conf	/data/data/VStab_352x288_30_0.conf
    symlink /system/vendor/etc/camera/Invensense/VStab_352x288_30_1.conf	/data/data/VStab_352x288_30_1.conf
    symlink /system/vendor/etc/camera/Invensense/VStab_640x480_30_0.conf	/data/data/VStab_640x480_30_0.conf
    symlink /system/vendor/etc/camera/Invensense/VStab_640x480_30_1.conf	/data/data/VStab_640x480_30_1.conf
    symlink /system/vendor/etc/camera/Invensense/VStab_720x480_30_0.conf	/data/data/VStab_720x480_30_0.conf
    symlink /system/vendor/etc/camera/Invensense/VStab_720x480_30_1.conf	/data/data/VStab_720x480_30_1.conf
    symlink /system/vendor/etc/camera/Invensense/VStab_1280x720_30_0.conf	/data/data/VStab_1280x720_30_0.conf
    symlink /system/vendor/etc/camera/Invensense/VStab_1280x720_30_1.conf	/data/data/VStab_1280x720_30_1.conf
    symlink /system/vendor/etc/camera/Invensense/VStab_1920x1080_30_0.conf	/data/data/VStab_1920x1080_30_0.conf
    symlink /system/vendor/etc/camera/Invensense/VStab_1920x1080_30_1.conf	/data/data/VStab_1920x1080_30_1.conf

	chown shell camera /dev/LaserSensor	
	chmod 0660 /dev/LaserSensor
	chmod 0660 /data/data/LaserFocus_on
	chmod 0660 /data/data/LaserFocus_value
	chmod 0660 /data/data/LaserFocus_value_more_info
	chmod 0660 /data/data/LaserFocus_Status
	chmod 0660 /data/data/LaserFocus_Status_For_Camera
	chmod 0660 /data/data/LaserFocus_debug_dump
	chmod 0660 /data/data/LaserFocus_register_dump

	chown system shell /data/data/LaserFocus_on
	chown system shell /data/data/LaserFocus_value
	chown system shell /data/data/LaserFocus_value_more_info
	chown system shell /data/data/LaserFocus_Status
	chown system shell /data/data/LaserFocus_Status_For_Camera
	chown system shell /data/data/LaserFocus_debug_dump
	chown system shell /data/data/LaserFocus_register_dump

	chown system shell /proc/driver/LaserFocus_CalStart
	chown system shell /proc/driver/LaserFocus_log_value1
	chown system shell /proc/driver/LaserFocus_log_value2
	chown system shell /proc/driver/LaserFocus_log_value3
	chown system shell /proc/driver/LaserFocus_log_value4
	chown system shell /proc/driver/LaserFocus_log_value5
	chown system shell /proc/driver/LaserFocus_log_value6
	chown system shell /proc/driver/LaserFocus_log_value7
	chown system shell /proc/driver/LaserFocus_log_value8
	chown system shell /proc/driver/LaserFocus_log_value9
	chown system shell /proc/driver/LaserFocus_log_value10
	chown system shell /proc/driver/LaserFocus_HPTG_hw
	chown system shell /proc/driver/LaserFocus_data_position

	rm /data/data/LaserFocus_CalStart
	rm /data/data/LaserFocus_log_value1
	rm /data/data/LaserFocus_log_value2
	rm /data/data/LaserFocus_log_value3
	rm /data/data/LaserFocus_log_value4
	rm /data/data/LaserFocus_log_value5
	rm /data/data/LaserFocus_log_value6
	rm /data/data/LaserFocus_log_value7
	rm /data/data/LaserFocus_log_value8
	rm /data/data/LaserFocus_log_value9
	rm /data/data/LaserFocus_log_value10
	rm /data/data/LaserFocus_HPTG_hw
	rm /data/data/LaserFocus_data_position

	symlink /system/bin/LaserFocus_CalStart /data/data/LaserFocus_CalStart
	symlink /proc/driver/LaserFocus_log_value1 /data/data/LaserFocus_log_value1
	symlink /proc/driver/LaserFocus_log_value2 /data/data/LaserFocus_log_value2
	symlink /proc/driver/LaserFocus_log_value3 /data/data/LaserFocus_log_value3
	symlink /proc/driver/LaserFocus_log_value4 /data/data/LaserFocus_log_value4
	symlink /proc/driver/LaserFocus_log_value5 /data/data/LaserFocus_log_value5
	symlink /proc/driver/LaserFocus_log_value6 /data/data/LaserFocus_log_value6
	symlink /proc/driver/LaserFocus_log_value7 /data/data/LaserFocus_log_value7
	symlink /proc/driver/LaserFocus_log_value8 /data/data/LaserFocus_log_value8
	symlink /proc/driver/LaserFocus_log_value9 /data/data/LaserFocus_log_value9
	symlink /proc/driver/LaserFocus_log_value10 /data/data/LaserFocus_log_value10
	symlink /proc/driver/LaserFocus_HPTG_hw /data/data/LaserFocus_HPTG_hw
	symlink /proc/driver/LaserFocus_data_position /data/data/LaserFocus_data_position

	chmod 0660 /data/data/LaserFocus_CalStart
	chmod 0660 /data/data/LaserFocus_log_value1
	chmod 0660 /data/data/LaserFocus_log_value2
	chmod 0660 /data/data/LaserFocus_log_value3
	chmod 0660 /data/data/LaserFocus_log_value4
	chmod 0660 /data/data/LaserFocus_log_value5
	chmod 0660 /data/data/LaserFocus_log_value6
	chmod 0660 /data/data/LaserFocus_log_value7
	chmod 0660 /data/data/LaserFocus_log_value8
	chmod 0660 /data/data/LaserFocus_log_value9
	chmod 0660 /data/data/LaserFocus_log_value10
	chmod 0660 /data/data/LaserFocus_HPTG_hw
	chmod 0660 /data/data/LaserFocus_data_position

	chown system shell /data/data/LaserFocus_CalStart
	chown system shell /data/data/LaserFocus_log_value1
	chown system shell /data/data/LaserFocus_log_value2
	chown system shell /data/data/LaserFocus_log_value3
	chown system shell /data/data/LaserFocus_log_value4
	chown system shell /data/data/LaserFocus_log_value5
	chown system shell /data/data/LaserFocus_log_value6
	chown system shell /data/data/LaserFocus_log_value7
	chown system shell /data/data/LaserFocus_log_value8
	chown system shell /data/data/LaserFocus_log_value9
	chown system shell /data/data/LaserFocus_log_value10
	chown system shell /data/data/LaserFocus_HPTG_hw
	chown system shell /data/data/LaserFocus_data_position

    mkdir /data/dit_file 0771 camera camera
    mkdir /dev/socket/dit 0777 cameraserver audio

	chmod 0700 /persist/sensors/sns.reg

	start sensors_init

	chmod 0666 /dev/jpeg0
	chmod 0666 /dev/video1

    mkdir /data/SuplCert
    chmod 777 /data/SuplCert
    copy /data/media/0/SuplRootCert /data/SuplCert/SuplRootCert
    chmod 666 /data/SuplCert/SuplRootCert
    rm /data/media/0/SuplRootCert

    mkdir /data/misc/aw 0777 audio audio
    write /data/misc/aw/route_path.info 0
    restorecon_recursive /data/misc/aw/route_path.info
    chmod 777 /data/misc/aw/route_path.info

on charger
    wait /dev/block/bootdevice/by-name/asdf
    mount ext4 /dev/block/bootdevice/by-name/asdf /asdf nosuid noatime nodev barrier=1
    restorecon_recursive /asdf

    write /proc/asusevtlog "charger: enter charger mode"

    mount ext4 /dev/block/bootdevice/by-name/factory /factory ro nosuid noatime nodev barrier=1 noauto_da_alloc
    service ssn /system/bin/ssn
    seclabel u:r:asus_ssn:s0
    enabled
    oneshot

	chmod 0777 /system/etc/rndisdiag.sh

#################################
#
#   others property trigger
#
# ****DO NOT insert any services***     
#
#################################
service ins_key /system/vendor/bin/install_key_server
    class late_start
    user root
    group root
    seclabel u:r:install_key_server:s0
    disabled

service widevine /system/vendor/bin/sh /system/vendor/bin/widevine.sh
    class late_start
    user root
    group root
    disabled
    oneshot

on property:atd.start.key.install=1
    start ins_key

on property:debug.check.keybox=1
    start widevine

on property:ro.hardware.fingerprint=snfp
    symlink /system/bin/synatest /data/data/FingerPrintTest
    chmod 0777 /data/data/FingerPrintTest

service filldata /system/bin/filldata.sh
    user root
    group root
    disabled
    oneshot

on property:persist.boot.filldata=1
    start filldata

on property:persist.boot.filldata=0
    stop filldata

service fsstress /system/bin/fsstress-run.sh
    user root
    group root
    disabled
    oneshot

on property:persist.boot.runfsstress=1
    start fsstress

on property:persist.boot.runfsstress=0
    stop fsstress

on property:persist.usb.diag=0
    write /sys/class/android_usb/android0/diag $persist.usb.diag
    setprop sys.usb.config $persist.sys.usb.config
    
on property:persist.usb.diag=1
    write /sys/class/android_usb/android0/diag $persist.usb.diag
    setprop sys.usb.config diag,serial_smd,rmnet_ipa,adb
    
on property:persist.usb.diag=2 && property:sys.boot_completed=1
	write /sys/class/android_usb/android0/diag $persist.usb.diag
    setprop sys.usb.config rndis,serial_smd,diag,adb

on property:sys.usb.config=diag,serial_smd,rmnet_ipa,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 05C6
    write /sys/class/android_usb/android0/idProduct 9091
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd
    write /sys/class/android_usb/android0/f_rmnet/transports qti,bam2bam_ipa
    write /sys/class/android_usb/android0/functions diag,serial,rmnet,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,serial_smd,diag,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 05C6
    write /sys/class/android_usb/android0/idProduct 90B6
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd
    write /sys/class/android_usb/android0/functions rndis,serial,diag,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state rndis,adb
    start rndisdiagServie

on property:sys.boot_completed=1
    write /sys/class/power_supply/battery/device/boot_completed 1

on property:persist.rd.special.connector=1
    write /sys/class/power_supply/battery/device/special_connector 1
on property:persist.rd.special.connector=0
    write /sys/class/power_supply/battery/device/special_connector 0

#################################
#
#       system service
#
#################################
# for sp tool
service sp /sbin/sp
    user root
    group root
    seclabel u:r:asus_sp:s0
    disabled
    oneshot

# for ssn tool
service ssn /system/bin/ssn
    seclabel u:r:asus_ssn:s0
    disabled
    oneshot

service rndisdiagServie /system/bin/sh /system/etc/rndisdiag.sh
    user root
    group root
    disabled
    oneshot

#----------------------------------------------------------------------
# touch fw update service
#----------------------------------------------------------------------
service FWAuto /system/bin/fw_auto_update.sh
    class late_start
	user root
	group root
	seclabel u:r:asus_touch:s0
	oneshot

service rgb_sensor_init /system/bin/sh /system/etc/rgb_sensor_init.sh
    class core
    user root
    oneshot
    disabled

service asusGaugeInit /system/bin/sh /system/etc/asusGaugeInit.sh
    class core
    user root
	seclabel u:r:asus_gauge:s0
    oneshot
    disabled

 service sensors_init /system/bin/sh /system/etc/sensors_init.sh
    class core
    user root
    oneshot
    disabled

service gx_fpd /system/vendor/bin/gx_fpd
    class late_start
    group system
    user system
    oneshot
    disabled

service gx_fpd_gxfp3 /system/vendor/bin/gx_fpd_gxfp3
    class late_start
    group system
    user system
    oneshot
    disabled

service fpseek /system/vendor/bin/fpseek
    class core
    user root
    group system
    oneshot
    disabled

service fpservice /system/vendor/bin/sh /system/vendor/etc/fpservice.sh
    class late_start
    user root
    group system
    oneshot

service writekey /system/bin/writekey
	class core
	oneshot
	disabled

on property:debug.write.asuskey=1
	start writekey
